@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
    background-color: #09040a;
}

div.perfil {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 20px;
    padding: 20px;
}

div.perfil-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 20px;
    border: 1px solid whitesmoke;
}

div.perfil-image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.4s;
}

div.perfil-image img:hover {
    transform: scale(1.04);
}

div.perfil-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    text-align: justify;
}

div.perfil-description h1 {
    color:white;
}

div.perfil-description h3 {
    color: #bdbdbd;
}

div.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}

div.projects div.project-image {
    width: 200px;
}

div.projects div.project-image:hover img {
    animation: flutuar 1.5s infinite;
    box-shadow: 3px 3px 1px #19C37D;
}

div.projects div.project-image img {
    width: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 1px white;
    transition: 0.4s;
}

div.social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

div.icons a {
    text-decoration: none;
    font-size: 24px;
    color:white;
    transition: 0.4s;
}
div.icons a:hover {
    color: #19C37D;
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

h1 {
    position: relative;
    padding-bottom: 10px;
    color: white;
}

h1::after {
    content: '';
    position: absolute;
    text-align: center;
    width: 50%;
    left: 25%;
    bottom: 0px;
    color: white;
    height: 4px;
    background-color: #19C37D;
    transition: width 0.5s ease, left 0.5s ease; 
}

h1:hover::after {
    width: 100%;
    left: 0%;
}
